.spotify-green {
  color: #1db954;
}

.action-green { color: #1ED760; }
.action-green:after { content: " \2713"; }
.action-orange { color: #FF6437; }
.action-orange:after { content: " ..."; }
.action-red { color: #EB1E32; }
.action-red:after { content: " \2715"; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* -----------------------------
Now Playing
----------------------------- */
.now-playing-container {
  text-align: center;
}

.now-playing-body img {
  width: 100%;
}

.song-progress-container {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.song-progress {
  width: 500px;
  height: 6px;
  background: rgb(64, 64, 64);;
  border-radius: 4px;
}

.song-expired {
  margin: 0;
  width: 100px;
  height: 6px;
  background: #1db954;
  border-radius: 4px;
}

.timer-start {
  font-size: 12px;
  position: relative;
  top: -5px;
  left: -10px;
  margin: 0;
  margin-top: -2px;
}

.timer-end {
  font-size: 12px;
  position: relative;
  top: -5px;
  left: 10px;
  margin: 0;
  margin-top: -2px;
}

.song-controls {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.play-btn {
  padding: 0 5px;
  color: rgb(179, 179, 179);
  cursor: pointer;
}

.song-player-container .play-btn {
  position: relative;
  top: -7px;
  font-size: 40px;
}

.song-player-container .pause-btn {
  position: relative;
  top: -7px;
  font-size: 40px;
  margin: 0 5px;
}

/* -----------------------------
Search
----------------------------- */
.search-box-container form {
  padding-left: 20px;
}

.search-box-container .search-input {
  width: calc(100% - 20px) !important;
}

.search-box-container button {
  background: transparent;
  border: none;
  margin-left: -20px;
}

.search-box-container .fa-times {
  margin-left: -27px;
  margin-right: 30px;
  color: gray;
}

.search-results-container {
  height: 60vh;
  overflow: scroll;
}

.search-results-container td {
  padding: 5px;
}

.search-results-container tr img {
  margin-top: 5px;
}

.nestedTr {
  border: none;
}
.nestedTr td {
  padding: 0;
}

/* -----------------------------
Queue
----------------------------- */
.queue-container {
  text-align: center;
}

.queue-wrapper {
  height: 62vh;
  overflow: scroll;
  margin-bottom: 30px;
}